<h2>List of Messages</h2>
<div data-spy="scroll" >
  <table class="table table-striped" width="30%">
    <thead>
      <tr>
        <th scope="col">Message Id</th>
        <th scope="col">currencyFrom</th>
        <th scope="col">currencyTo</th>
        <th scope="col">User</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of marketDataList">
        <td scope="row">{{data.id}}</td>
        <td scope="row">{{data.currencyFrom}}</td>
        <td scope="row">{{data.currencyTo}}</td>
        <td scope="row">{{data.userId}}</td>
      </tr>
    </tbody>
  </table>
</div>